body {
  background-color: #eceff4;
  font-family: "Open Sans", serif;
  color: #2e382e;
}

.container {
  padding: 3em;
  display: flex;
}

h1 {
  margin: 0;
}

.nav {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

button {
  cursor: pointer;
  margin-right: 10px;
  border-radius: 8px;
  background: #29b6e9;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
}

button:hover {
  background: #1c7ea1;
}

button:focus {
  outline: none;
}

#owls svg {
  visibility: hidden;
  height: 150px;
}
