*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // defines what 1rem is: sets root font size as 10px (16px browser default, 16/10 * 100 = 62.5%) to make life easier calculating rem. bad practice to specify px explicitly as user can't change font size

    @include respond(tab-land) { // width <= 1200px ? (always larger before smaller for desktop-first)
        font-size: 56.25%; // 1 rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-port) { // width <= 900px ?
        font-size: 50%; // 1 rem = 8px, 8/16 = 50%
    }

    @include respond(desktop-large) {
        font-size: 75%; // 1 rem = 12px, 12/16 = 75%
    }
}

body {
    box-sizing: border-box; // best practice to add box-sizing to body and use inherit on universal selector, to assist with plugins which may rely on this property
    padding: 3rem; // adds 30px 'frame' to body

    @include respond(tab-port) { 
        padding: 0;
    }
}